@model PagedList.IPagedList<WebMobile.Models.AspNetUsers>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Danh sách tài khoản</h2>
        </div>
    </div>
    <div class="row">
           <div class="col-lg-12">
               <div style="display: flex; column-gap: 3px; justify-content: end;">
                   <form action="/Admin/AspNetUsers" method="post">
                       <div>
                           <input class="form-control" id="search" name="search" placeholder="Tìm kiếm tài khoản..." style="display: inline; width: 200px;" type="text" value="@ViewBag.Search">
                           <button class="btn btn-primary" type="submit">
                               <i class="fa fa-search"></i>
                           </button>
                       </div>
                   </form>
           </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="border: unset">
                Email
            </th>

            <th style="border: unset">
                Số điện thoại
            </th>
            <th style="border: unset">
                Chức vụ
            </th>
            <th style="border: unset">
                Trạng thái
            </th>
            <th style="border: unset">Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (item.isAdmin)
                    {
                        <p>Nhân viên</p>
                    }
                    else
                    { <p>Khách hàng</p>}
                </td>
                <td>
                    @if (item.AccessFailedCount == 0)
                    {
                        <p>Đang hoạt động</p>
                    }
                    else
                    { <p>Ngừng hoạt động</p>}
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Xoá", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
   
        <div> Trang @Model.PageNumber / @Model.PageCount</div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = @ViewBag.Search }))
</div>