@model WebMobile.Models.ChiTietNhapHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietNhapHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNhapHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
