@model IEnumerable<WebMobile.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Danh sách nhà cung cấp</h2>
        </div>
    </div>

    <p>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div style="min-height: 400px; overflow-x: auto">
        <table class="table" border="1" style="border-collapse: collapse; border-color: gray">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenNhaCungCap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th style=" width: 160px;">
                    @Html.DisplayNameFor(model => model.SoDienThoai)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.EmailNCC)
                </th>
                <th style="width: 110px ">Chức năng</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNhaCungCap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailNCC)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaNhaCungCap.Trim() }, new {@class= "btn btn-success btn-sm" })
                        @Html.ActionLink("Xoá", "Delete", new { id = item.MaNhaCungCap.Trim() }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
