@model WebMobile.Models.SanPham

@{
    ViewBag.Title = "Detail Product";
}

<div class="row">
    <div class="col-lg-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index")">Sản phẩm</a></li>
            <li>@ViewBag.nameProduct</li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="main-content" class="col-md-8">
        <div class="product">
            <div class="col-md-6 col-sm-12">
                <div class="image setWidthImage">
                    <img src="~/Public/images/@Model.Image" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="caption">
                    <div class="name"><h3 style="font-size:28px;">@Model.TenSanPham</h3></div>
                    <div class="price">
                        @String.Format("{0:#,0đ}", Model.GiaBan)
                    @if (Model.GiamGia > 0)
                    {
                        <span style="font-size: 20px;">@String.Format("{0:#,0đ}", Model.Gia)</span>
                    }
                </div>
                <div class="price">Số lượng: @Model.SoLuongDaBan</div>
                <div class="name">Lượt xem: @Model.LuotView</div>
                <div class="rating" style="color: #fec93f;">
                    @for (int i = 0; i < 4; i++)
                    {
                        <span class="glyphicon glyphicon-star">
                        </span>
                    }
                    <span class="glyphicon glyphicon-star-empty">
                    </span>
                </div>

                <div class="info">
                    @Html.Raw(@Model.CauHinh)
                </div>


                <div class="well">
                    @using (Html.BeginForm("Add", "Cart"))
                    {
                        <input type="hidden" name="MaSanPham" value="@Model.MaSanPham" />
                        <input type="hidden" name="TenSanPham" value="@Model.TenSanPham" />
                        <input type="hidden" name="Gia" value=@Model.GiaBan />
                        <label>Số lượng: </label> <input name="SoLuong" class="form-inline quantity" style="width:80px;" type="number" min="1" max="1000" value="1">
                        <input type="hidden" name="image" value="@Model.Image" />
                        @*<input type="submit" name="submit" value="ADD" />*@
                        <button type="submit" class="btn btn-primary" style=" position: relative; bottom: 1px;">Thêm vào giỏ</button>
                    }

                </div>
                @if (ViewBag.ErrorQuantity != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorQuantity
                    </div>
                }
                <div class="share well">
                    <strong style="margin-right: 13px;">Share :</strong>
                    <a href="#" class="share-btn" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="share-btn" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="share-btn" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
    </div>

    @*SIDEBAR USE PARTIAL VIEW*@
    @{Html.RenderAction("Sidebar", "Partial");}
    <div class="row">
        <div class="col-lg-12">
            <div class="product-desc" style="margin-top:0">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description">Mô tả sản phẩm</a></li>
                    <li><a href="#review">Bình luận</a></li>
                    <li><a href="#evaluate">Nhận xét</a></li>
                </ul>
                <div class="tab-content" style="height: 700px; overflow-y:auto;">
                    <div id="description" class="tab-pane fade in active">
                        @Html.Raw(@Model.MoTa)
                    </div>
                    <div id="review" class="tab-pane fade">
                        <div class="review-text">
                            @if (Session["username"] == null)
                            {
                                <p>Đăng nhập để viết đánh giá về sản phẩm này</p>
                            }
                            else
                            {
                                <p>Hãy viết nhận xét của bạn về sản phẩm này</p>
                            }
                        </div>
                        <div class="review-form">
                            <h4>Viết đánh giá</h4>
                            <form name="comment" method="post" action="/Comment/Create">
                                <label>
                                    <input type="text" hidden name="MaSanPham" value=@Model.MaSanPham />
                                    <input type="text" hidden name="MaTaiKhoan" value=@Session["Id"] />
                                    <input type="text" hidden name="tensanpham" value=@ViewBag.nameProduct />
                                    <span>Email của bạn:</span>
                                    @if (Session["username"] != null)
                                    {
                                        <input type="text" name="TenTaiKhoan" value=@Session["username"] readonly>
                                    }
                                    else
                                    {
                                        <input type="text" name="name" id="name" required>
                                    }


                                </label>
                                <label>
                                    <span>Bình luận của bạn:</span>

                                    <textarea name="NoiDung" id="NoiDung"></textarea>
                                </label>
                                <div class="text-right">
                                    @if (Session["username"] != null)
                                    {
                                        <input class="btn btn-default" type="reset" name="reset" value="Reset">
                                        <input class="btn btn-default" type="submit" name="Submit" value="Submit">
                                    }


                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="evaluate" class="tab-pane fade">
                        @*COMMENTS USE PARTIAL CONTROLLER*@
                        @{Html.RenderAction("AllCommentByMasp", "Partial");}
                    </div>

                </div>
            </div>

            <div class="product-related">
                <div class="heading"><h2 style="margin: 0px 10px;">SẢN PHẨM KHÁC</h2></div>
                <div class="products">
                    @*SPECIAL PRODUCT PARTIAL VIEW*@
                    @{Html.RenderAction("SpecialProduct", "Partial", new { NumberOfProducts = 4 });}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
		$('.nav-tabs a').on('shown.bs.tab', function(event){
			var x = $(event.target).text();         // active tab
			var y = $(event.relatedTarget).text();  // previous tab
			$(".act span").text(x);
			$(".prev span").text(y);
		});
	});
</script>