
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="https://www.Zerotheme.com">

    <title>Mobile Shop</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Public/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Public/css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/Public/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Public/fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/Public/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Public/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Public/js/html5shiv.js"></script>
        <script src="~/Public/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <select class="language">
                        <option value="English" selected>English</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                    </select>
                    <select class="currency">
                        <option value="USD" selected>USD</option>
                        <option value="EUR">EUR</option>
                        <option value="DDD">DDD</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    @if (Session["username"] == null)
                    {
                        <ul class="top-link">
                            <li><a href="/Accout/Login">Log in</a></li>
                            <li><a href="/Accout/Signup">Sign up</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="top-link">
                            <li>Xin chào @Session["username"]</li>
                            <li><a href="/Accout/Logout">Log out</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header style="padding:25px 0;" class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="logo"><img src="~/Public/images/logo.png" /></div>
            </div>
            <div class="col-md-4">
                <form class="form-search" action="/Products">
                    <input type="text" name="search" class="input-medium search-query">
                    <button style="vertical-align:top;" type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div class="col-md-4">
                <div id="cart">
                    <a class="btn btn-1" href="/Cart/Index">
                        <span class="glyphicon glyphicon-shopping-cart">
                        </span>
                        CART :
                        @if (@Session["countItem"] != null)
                        {
                            <span>@Session["countItem"]</span> 
                        }
                        else
                        {<span>0</span>}
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--Navigation-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("home", "Index", "Home")</li>
                    <li class="dropdown">
                        @Html.ActionLink("products", "Index", "Products")
                        
                    </li>
                    <li class="dropdown">
                        <a href="~/Public/#" class="dropdown-toggle" data-toggle="dropdown">producer</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                @*MenuProducer USE PARTIAL VIEW*@
                                @{Html.RenderAction("MenuProducer", "Partial");}
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="~/Public/#" class="dropdown-toggle" data-toggle="dropdown">product type</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                @*MenuProductType USE PARTIAL VIEW*@
                                @{Html.RenderAction("MenuProductType", "Partial");}
                            </div>
                        </div>
                    </li>
                    <li><a href="#">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////HomePage///////////////////////-->
    <!--//////////////////////////////////////////////////-->
    <div id="page-content" class="home-page">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        <img src="~/Public/images/logofooter.png" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>Customer Service</h4></div>
                        <ul>
                            <li><a href="~/Public/#">About Us</a></li>
                            <li><a href="~/Public/#">Delivery Information</a></li>
                            <li><a href="~/Public/#">Privacy Policy</a></li>
                            <li><a href="~/Public/#">Terms & Conditions</a></li>
                            <li><a href="~/Public/#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-3">
                        <div class="heading"><h4>My Account</h4></div>
                        <ul>
                            <li><a href="~/Public/#">My Account</a></li>
                            <li><a href="~/Public/#">Brands</a></li>
                            <li><a href="~/Public/#">Gift Vouchers</a></li>
                            <li><a href="~/Public/#">Specials</a></li>
                            <li><a href="~/Public/#">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Contact Us</h4></div>
                        <ul>
                            <li><span class="glyphicon glyphicon-home"></span>California, United States 3000009</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>+91 8866888111</li>
                            <li><span class="glyphicon glyphicon-envelope"></span>infor@yoursite.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Your Store ?? 20xx - Designed by <a href="~/Public/https://www.Zerotheme.com">Zerotheme</a>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <ul>
                                <li><img src="~/Public/images/visa-curved-32px.png" /></li>
                                <li><img src="~/Public/images/paypal-curved-32px.png" /></li>
                                <li><img src="~/Public/images/discover-curved-32px.png" /></li>
                                <li><img src="~/Public/images/maestro-curved-32px.png" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
