@model WebMobile.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";

}

<div class="container-fluid">
    <div style="display: flex; justify-content: space-between; margin: 24px 0 20px; padding-bottom: 9px;">
        <h2>Thêm mới sản phẩm</h2>


        @using (Html.BeginForm("Upload", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <br />
            <h4>Thêm mới sản phẩm bằng file excel:</h4>
            <input type="file" name="file" />
            <br />
            <button type="submit" class="btn btn-primary">Thêm mới</button>
            if (ViewBag.MessErrorExcel != null)
            {
                <p style="color:red">@ViewBag.MessErrorExcel</p>
            }
        }
        <br />

    </div>
    @using (Html.BeginForm("Create", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                    @Html.LabelFor(model => model.MaSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.MaLoaiSanPham, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-lg-6">
                    @Html.DropDownList("MaLoaiSanPham", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaLoaiSanPham, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNhaSanXuat, "Nhà sản xuất", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-lg-6">
                    @Html.DropDownList("MaNhaSanXuat", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaNhaSanXuat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CauHinh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea class="ckeditor" name="CauHinh"></textarea>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img id="output" src="~/Public/images/no-image-news.png" class="img-thumbnail" alt="no-image-news.png" width="100" />
                    <div><label for="anh">Chọn file ảnh</label></div>
                    <input type="file" name="Image" id="anh" style="display:none;" onchange="loadFile(event)" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiamGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiamGia, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoLuongDaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuongDaBan, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                    @*<input type="number" name="SoLuongDaBan"  min="0" max="1000"/>*@
                    @Html.ValidationMessageFor(model => model.SoLuongDaBan, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.LuotView, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LuotView, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                    @Html.ValidationMessageFor(model => model.LuotView, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea class="ckeditor" name="MoTa"></textarea>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở lại danh sách", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
    <script type="text/javascript">
        let loadFile = (event) => {
            let anh = document.getElementById("output");
            anh.src = URL.createObjectURL(event.target.files[0]);
            console.log(event.target.files[0]);
        }
    </script>
