@model WebMobile.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaSanXuat.TenNhaSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSanXuat.TenNhaSanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CauHinh)
        </dt>

        <dd>
            <textarea class="ckeditor" name="CauHinh">@Model.CauHinh</textarea>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/Public/images/@Model.Image" width="130" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongDaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            <textarea class="ckeditor" name="MoTa">@Model.MoTa</textarea>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSanPham }) |
    @Html.ActionLink("Danh sách", "Index")
</p>
