@model PagedList.IPagedList<WebMobile.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Quản lý sản phẩm</h2>
<br />
@using (Html.BeginForm())
{
    <div style="display: flex; column-gap: 3px;">
         @Html.TextBox("search", ViewBag.Search as string, new { @class = "form-control", placeholder = "Tìm kiếm sản phẩm theo tên", style = "display: inline;" })
        <input class="btn btn-dark"  type="submit" value="Tìm kiếm" style="background: black; color: white;" />
    </div>
}
<br />
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table border="1" class="table" style="border-collapse:collapse; border-color:gray">
    <tr>
        <th>
            Loại sản phẩm
        </th>
        <th>
            Nhà sản xuất
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Cấu hình
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Lượt xem
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Ghi chú
        </th>
        <th width="62px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoaiSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.Raw(@item.CauHinh)
            </td>
            <td>
                <img src="~/Public/images/@item.Image" alt="@item.Image" width="130" />
            </td>
            <td>
                @String.Format("{0:#,0đ}", item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongDaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuotView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td align="center">
                <div>@Html.ActionLink("Sửa", "Edit", new { id = item.MaSanPham }, new { @class = "btn btn-success" })</div>
                <div>@Html.ActionLink("Chi tiết", "Details", new { id = item.MaSanPham }, new { @class = "btn btn-warning", style="margin: 10px 0;" })</div>
                <div>
                    @Html.ActionLink("Xoá", "Delete", new { id = item.MaSanPham }, new { @class = "btn btn-danger" })
                </div>

            </td>
        </tr>
    }

</table>
<div style="display:flex; justify-content:end">@Html.ActionLink("Xuất danh sách sản phẩm", "ExportToExcel")</div>

<br />
Trang @Model.PageNumber / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = @ViewBag.Search }))
