@model IEnumerable<WebMobile.Models.NhaSanXuat>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lý nhà sản xuất</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNhaSanXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhaSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaNhaSanXuat }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaNhaSanXuat }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Xoá", "Delete", new { id=item.MaNhaSanXuat }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
