@model WebMobile.Models.LoaiSanPham

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá loại sản phẩm</h2>

<h3>Bạn có chắc muốn xoá loại sản phẩm <b>@Model.TenLoaiSanPham</b> không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Danh sách", "Index")
        </div>
    }
</div>
