@model WebMobile.Models.LoaiSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Thông tin chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLoaiSanPham }) |
    @Html.ActionLink("Danh sách", "Index")
</p>
