@model IEnumerable<WebMobile.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Danh sách loại sản phẩm</h2>
        </div>
    </div>

    <p>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoaiSanPham)
                </td>
                <td>
                    @if (item.TinhTrang == "0")
                    {
                    <div>Đang hoạt động</div>
                    }
                else
                {
                    <div>Ngừng hoạt động</div>
                }
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoaiSanPham }, new { @class = "btn btn-success" })
                    @*@Html.ActionLink("Chi tiết", "Details", new { id = item.MaLoaiSanPham }, new { @class = "btn btn-warning" })*@
                    @Html.ActionLink("Xoá", "Delete", new { id = item.MaLoaiSanPham }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>